// Font Family
$main-font: 'Satoshi';
$sub-font: 'ClashDisplay';
$magnita: 'Magnita';
$bootstrapFont: 'bootstrap-icons';

// Color Settings
$text-color: rgba(0,0,0,0.7);
$text-dark: #000;
$heading: #19352D;
$color-one: #a67453;
$color-two: #ffd940;
$color-three: #4d3626;
$color-four: #abff73;
$color-five: #99ffff;
$color-six: #99ffff;
$color-seven: #ff8cb3;
$color-eight: #ffd940;
$color-nine: #a67453;
$light-bg-one: #EBF3EE;
$light-bg-two: #EDF1EE;
$cyan: #DCEFF0;
