// Font Family
$main-font: 'Satoshi';
$sub-font: 'ClashDisplay';
$magnita: 'Magnita';
$bootstrapFont: 'bootstrap-icons';

// Color Settings
$text-color: rgba(0,0,0,0.7);
$text-dark: #000;
$heading: #19352D;
$color-one: #D9E3E5;
$color-two: #9DB4BA;
$color-three: #5C7987;
$color-four: #C5CFC7;
$color-five: #A7B2AE;
$color-six: #DAE3E8;
$color-seven: #94A7B6;
$color-eight: #BFBFBF;
$color-nine: #53778F;
$light-bg-one: #EBF3EE;
$light-bg-two: #EDF1EE;
$cyan: #DCEFF0;
