// Font Family
$main-font: 'Satoshi';
$sub-font: 'ClashDisplay';
$magnita: 'Magnita';
$bootstrapFont: 'bootstrap-icons';

// Color Settings
$text-color: #333333;
$text-dark: #333333;
$heading: rgb(239, 244, 239);
$color-one: rgb(120, 138, 116);
$color-two: rgb(45, 84, 64);
$color-three: #b4b4b4;
$color-four: #98ae9b;
$color-five: #586d5b;
$color-six: #374b41;
$color-seven: #5c5c5c;
$color-eight: #E6E6E6;
$color-nine: #a67453;
$light-bg-one: #EBF3EE;
$light-bg-two: #EDF1EE;
$cyan: #DCEFF0;
